# System.
alias :q='exit'
alias :wq='exit'
alias c='clear'
alias grep='grep --color=auto'
alias h='history | grep -i'
alias halt='sudo halt'
alias psc="echo '%CPU %MEM   PID COMMAND' && ps hgaxo %cpu,%mem,pid,comm | sort -nrk1 | head -n 10"
alias psm="echo '%CPU %MEM   PID COMMAND' && ps hgaxo %cpu,%mem,pid,comm | sort -nrk2 | head -n 10"
alias q='exit'
alias quit='exit'
alias reboot='sudo reboot'
alias sps='ps aux | grep -v grep | grep -i'

# Apps.
alias tmux='tmux -2'
alias t='tmux'
alias v='vim'
alias vg='valgrind --leak-check=full --show-possibly-lost=no --dsymutil=yes'
alias wallpaper='feh --bg-scale'
alias ack='ack-grep'
alias a='ack-grep'

# File management.
alias ..='cd ..'
alias ls='ls --color=auto -F --group-directories-first'
alias la='ls -A'
alias ll='ls -l'
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -ria'
alias mkdir='mkdir -p'
alias ducks='du -cksh * | sort -rh | head -11'
