# Applications.
alias a='ag'
alias b='bundle'
alias bundle='nocorrect bundle'
alias gem='nocorrect gem'
alias git='nocorrect git'
alias m='mpc'
alias mpc='nocorrect mpc'
alias mpdscribble='nocorrect mpdscribble'
alias mux='nocorrect mux start'
alias rake='nocorrect rake'
alias t='tmux'
alias ta='nocorrect tmux attach -t'
alias tig='nocorrect tig'
alias tmux='nocorrect tmux -2'
alias ts='nocorrect tmux new-session -s'
alias v='vim'
alias va='vagrant'
alias vg='valgrind --leak-check=full --show-possibly-lost=no --dsymutil=yes'
alias vi='vim'
alias vim='nocorrect vim'

# Focus/unfocus.
alias focus='sudo sh -c "echo \'127.0.0.1 www.facebook.com twitter.com gmail.com getprismatic.com reddit.com news.ycombinator.com # aab6de513ab5de9359809f3cdb62d352\' >> /etc/hosts"'
alias unfocus='sudo sed -i "/aab6de513ab5de9359809f3cdb62d352/d" /etc/hosts'

# System.
alias :q='exit'
alias :wq='exit'
alias c='clear'
alias grep='grep --color=auto'
alias h='nocorrect history | grep -i'
alias halt='sudo halt'
alias psc='echo "%CPU %MEM   PID COMMAND" && ps hgaxo %cpu,%mem,pid,comm | sort -nrk1 | head -n 10'
alias psm='echo "%CPU %MEM   PID COMMAND" && ps hgaxo %cpu,%mem,pid,comm | sort -nrk2 | head -n 10'
alias q='exit'
alias quit='exit'
alias reboot='sudo reboot'
alias sps='nocorrect ps aux | grep -v grep | grep -i'

# Utilities.
alias httpdump='sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E "Host\: .*|GET \/.*"'
alias sniff='sudo ngrep -d "en1" -t "^(GET|POST) " "tcp and port 80"'

# File management.
alias ..='cd ..'
alias ...='cd ...'
alias ....='cd ....'
alias .....='cd .....'
alias cp='cp -ai'
alias ducks='du -cksh * | sort -rh | head -11'
alias la='ls -A'
alias ll='ls -l'
if [ '$(uname -s)' = 'Darwin' ]; then
  alias ls='ls -FG'
fi
if [ '$(uname -s)' = 'Linux' ]; then
  alias ls='ls --color=auto -F --group-directories-first'
fi
alias mkdir='nocorrect mkdir -p'
alias mv='mv -i'
alias rm='rm -i'
alias which='nocorrect which'
