# No arguments: `git status`
# With arguments: acts like `git`
function g() {
  if [[ $# > 0 ]]; then
    git $@
  else
    git status
  fi
}

# Creates an archive from given directory.
# Usage: mkt{ar,gz,bz} <directory>
mktar() { tar cvf  "${1%%/}.tar"     "${1%%/}/"; }
mktgz() { tar cvzf "${1%%/}.tar.gz"  "${1%%/}/"; }
mktbz() { tar cvjf "${1%%/}.tar.bz2" "${1%%/}/"; }

# A simple reminder.
# Usage: remindme <time> <text>
# Example: remindme 10m omg, the pizza
function remindme() {
  local delay=$1
  shift
  ( { sleep $delay; zenity --info --text "$*" &> /dev/null } & )
}

function portowner() {
  sudo lsof -n -i4TCP:"$1" | grep LISTEN
}
