[user]
	name = Murilo Pereira
	email = murilo@murilopereira.com
[core]
	mergeoptions = --no-ff
	excludesfile = ~/.gitignore
[merge]
	tool = ediff
[push]
	default = simple
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[github]
	user = mpereira
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	pl = pull
	ps = push
	l = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	rbr = for-each-ref --sort=-committerdate refs/heads/
	amend = commit --amend
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	changelog = log --pretty=format:\" * %s\"
