# General settings

# The ip address the listening socket and outgoing connections is bound to
bind = 0.0.0.0

# Port range to use for listening
port_range = 6000-6000

# Start opening ports at a random position within the port range
port_random = no

# Perform hash check on torrents that have finished downloading
check_hash = yes

# Download directory
directory = /media/120c5598-f157-4af9-9ed2-d25db1a2d277/torrents

# Session directory
session = /media/120c5598-f157-4af9-9ed2-d25db1a2d277/torrents/.session

# Encryption
encryption = allow_incoming,enable_retry,prefer_plaintext

# Exchange peers if torrent isn't private
peer_exchange = yes

# Watch for new torrents
schedule = watch_directory,10,10,load_start=/media/120c5598-f157-4af9-9ed2-d25db1a2d277/torrents/.session/\*.torrent

# Stop torrents whose files were deleted
schedule = untied_directory,5,5,stop_untied=

# Resume torrents whose files were put back
schedule = tied_directory,5,5,start_tied=

# Close torrents when diskspace is low
schedule = low_diskspace,5,60,close_low_diskspace=500M

# Throttle settings

# Global upload and download rate in KiB
upload_rate = 15
download_rate = 100

# Maximum and minimum number of peers to connect to per torrent
min_peers = 40
max_peers = 100

# Maximum number of simultanious uploads per torrent
max_uploads = 15

# Tracker related settings

# Connect to UDP trackers
use_udp_trackers = yes

# Enable DHT support for trackerless torrents or when all trackers are down
dht = auto
