<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="openbox">
    <separator label="pluto"/>
    <item label="chromium">
      <action name="Execute">
        <execute>
          chromium
        </execute>
      </action>
    </item>
    <item label="emesene">
      <action name="Execute">
        <execute>
          emesene
        </execute>
      </action>
    </item>
    <item label="gimp">
      <action name="Execute">
        <execute>
          gimp
        </execute>
      </action>
    </item>
    <item label="gvim">
      <action name="Execute">
        <execute>
          gvim
        </execute>
      </action>
    </item>
    <menu id="openoffice" label="openoffice">
      <item label="calc">
        <action name="Execute">
          <execute>
            soffice -calc
          </execute>
        </action>
      </item>
      <item label="impress">
        <action name="Execute">
          <execute>
            soffice -impress
          </execute>
        </action>
      </item>
      <item label="writer">
        <action name="Execute">
          <execute>
            soffice -writer
          </execute>
        </action>
      </item>
    </menu>
    <item label="pcmanfm">
      <action name="Execute">
        <execute>
          pcmanfm
        </execute>
      </action>
    </item>
    <item label="picasa">
      <action name="Execute">
        <execute>
          picasa
        </execute>
      </action>
    </item>
    <item label="skype">
      <action name="Execute">
        <execute>
          skype
        </execute>
      </action>
    </item>
    <item label="sonata">
      <action name="Execute">
        <execute>
          sonata
        </execute>
      </action>
    </item>
    <item label="urxvt">
      <action name="Execute">
        <decor>
          no
        </decor>
        <execute>
          urxvt
        </execute>
      </action>
    </item>
    <separator/>
    <item label="lxappearance">
      <action name="Execute">
        <execute>
          lxappearance
        </execute>
      </action>
    </item>
    <item label="obconf">
      <action name="Execute">
        <command>
          obconf
        </command>
        <startupnotify>
          <enabled>
            yes
          </enabled>
        </startupnotify>
      </action>
    </item>
    <item label="wicd client">
      <action name="Execute">
        <execute>
          wicd-client
        </execute>
      </action>
    </item>
    <item label="xev">
      <action name="Execute">
        <execute>
          urxvt -e xev
        </execute>
      </action>
    </item>
    <separator/>
    <item label="lock">
      <action name="Execute">
        <execute>
          slock
        </execute>
      </action>
    </item>
    <item label="reconfigure">
      <action name="Execute">
        <execute>
          openbox --reconfigure
        </execute>
      </action>
    </item>
    <item label="logout">
      <action name="SessionLogout"/>
    </item>
    <separator/>
    <item label="reboot">
      <action name="Execute">
        <execute>
          sudo reboot
        </execute>
      </action>
    </item>
    <item label="shutdown">
      <action name="Execute">
        <execute>
          sudo shutdown
        </execute>
      </action>
    </item>
  </menu>
</openbox_menu>
